<mat-card id="mat-card">
  <mat-card-header id="card-header">
    <div mat-card-avatar class="example-header-image" id="card-avatar"></div>
    <mat-card-title id="card-title">{{data.name}}</mat-card-title>
    <mat-card-subtitle id="card-subtitle">{{data.nickname}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image id="card-image" src="{{data.card_image}}" alt="Photo of a Shiba Inu">
  <mat-card-content id="card-content">
    <p>
      {{data.description}}
    </p>
  </mat-card-content>
</mat-card>
