#mat-card{
  /*display: flex;*/
  margin: 10px 20px 20px 20px;
  max-width: 345px;
  min-height: 310px;
}


#card-image{
  display: flex;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
