.header{
  display: flex;
  height: 80px;
  background-color: crimson;
}

.logo-text{
  display: flex;
  align-self: center;
  font-size: 28px;
  padding-left: 20px;
  color: white;
  margin-top: 10px;
}

.navigation{
  display: flex;
  align-self: center;
  padding-left: 300px;
}

.mlink{
  font-size: 20px;
  text-decoration: none;
  padding-right: 20px;

}
.logo-link{
  height: 80px;
}

#main-banner{
  display: flex;
  height: 450px;
  background-color: black;
  justify-content: center;
}

#banner-text{
  display: flex;
  font-size: 106px;
  font-family: 'Goldman', cursive;
  align-self: center;
  align-content: center;
  background-color: white;
  padding: 100px 30px 100px 30px;


}
